<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-offset-3">
        <p>Vous avez recus un message de votre site web de la part de <strong><%= @contact_form.nom || @contact_form.email %></strong> </p>
        <p><%= @contact_form.message %></p>
        <p>Contact: <%= @contact_form.email%></p>
      </div>
    </div>
  </div>
</div>
