<div class="small_banner">
  <h2>Conseil en stratégie</h2>
</div>

<div class="container padded" style="margin-top: 100px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="" style="color: gray; font-style: italic;">Ce que nous vous apportons.</h2>
      <p style="text-align: justify;">Charte graphique, logo, choix de la police de caractère, nous vous accompagnons dans votre stratégie de communication. Le développement sur-mesure permet une totale fléxibilité. En fonction de votre activité et de votre cible, nous vous conseillons sur le design et l'ergonomie de votre site web.</p>
      <div class="button-feature">
        <%= link_to root_path do %>
          Retour
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'strategie.jpg', width: "100%" %>
    </div>
  </div>
</div>
