<div class="banner">

  <div class="banner-title">
    <div>
    <%= image_tag 'moi.jpg', class: 'avatar' %>
  </div>
    <p class="nom">Nicolas ACARD</p>
    <h1>CHARGÉ DE COMMUNICATION DIGITALE</h1>
    <p><i>"La qualité de notre communication est déterminée non par la manière dont nous disons les choses, mais par la manière dont elles sont comprises."</i></p>
    <div class="bandeau-banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
           <i class="far fa-envelope">  </i> acardnicolas@gmail.com
          </div>
           <div class="col-xs-12 col-md-4">
           <i class="fas fa-mobile">  </i> +33(0)6 61 56 81 40
          </div>
           <div class="col-xs-12 col-md-4">
           <i class="fas fa-globe">  </i> www.makemefly.fr
          </div>
        </div>
      </div>
  </div>
  </div>

</div>







<div class="bandeau">
<p>Expériences professionnelles</p>
</div>

<!-- <div class="bandeau2">
<p>QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time!QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time!</p>
</div> -->



<div class="timeline">
  <div class="entry">
    <div class="title">
      <h3>2014 - Present</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2010 - Present</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2009 - 2010</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2006 - 2008</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>

</div>




