/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 10;
}
.alert-info {
  background: $green;
  z-index: 10;
  color: white;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 0px;
  //padding:30px;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  width: 100%;
  border-bottom: 0.5px solid rgba(44,62,80, 0.2);
}
.alert-warning {
  background: $red;
  z-index: 10;
}
