.bandeau{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  padding:30px;
  font-weight: lighter;
  font-size: 30px;
  color: gray;
}

.bandeau p{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.bandeau2{
  color: white;
  background-color: #54A4D6;
  padding:30px;
  height: 400px;
}

.feature_plugin{
//  height: 100vh;
  margin-top: 8em;
  background-image: linear-gradient(-225deg, rgba(44,62,80,0.9) 0%, rgba(44,62,80,0.9) 50%), image-url("code.jpg");
  background-size: cover !important;
  background-attachment: fixed;
}
