.bandeau{
   display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  padding:30px;
  font-weight: lighter;
  font-size: 30px;
  color: gray;
}

.bandeau2{
  color: white;
  background-color: #54A4D6;
  padding:30px;
  height: 400px;
}
