/* Style the video: 100% width and height to cover the entire window */
.video{
  //height: 100vh;
  position: relative;
  background-size: cover !important;
  background-position: center;
  overflow-y: hidden;
}

.video-blog{
  background-size: cover !important;
  background-position: center;
  overflow-y: hidden;
}

#myVideo {
    position: absolute;
    right: 0;
    //bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#myVideo-blog {
    // //position: absolute;
    // right: 0;
    // //bottom: 0;
    // min-width: 100%;
    // min-height: 100%;
    // z-index: -1;
}


/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.video iframe{
  height: 108vh;
}

.video-blog iframe{
  //height: 100vh;
}

.video-blog iframe{
  height: calc(100vh - 440px);
}

