.bouton_header{
  padding: 20px;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  border-radius: 50px;
  margin-right: 50px;

}

.bouton_header:hover{
  background-color: white;
  color: $deep-soft-blue;
  transition: 0.4s;
}
