.padded {
  padding-top: 2em;
  padding-bottom: 3em;
}

.center{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.punch_line{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.card{
  height: 300px;
  position: relative;
  //width: 100%;
  background-position: center;
  background-size: cover !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
 // vertical-align: center
}

.test{
  padding-left: 0px;
  padding-right: 0px;
}

.row-destination{
  margin-left: 0px;
  margin-right: 0px;
}

.site_web{
  position: relative;
  overflow: hidden;
  //margin-bottom: 1rem;

}

.voile{
  color: white;
  position: absolute;
  width: 100%;
  height: 0px;
  //bottom: -27px;
  background-color: rgba(76,161,175, 0.4);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
}

.site_web:hover {
  .voile{
     height: 100%;
     transition: all 0.5s ease;
  }
}

.square_carac{
 width: 211px;
 height: 211px;
}

.service{
  background-color: #E7EBED;
}

.service2{
  background-color: #DFE5E8;
}

.service3{
  background-color: #EEF0F1;
}


.service_hover{
  position: absolute;
  width: 100%;
  height: 0%;
  //bottom: -27px;
  background-color: #4CA1AF;
  //transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
  //opacity: 0.7;
}


.site_web:hover {
  .service{
    background-color: #4CA1AF;
  }
  .service_hover{
    color: white;
    height: 100%;
   // transition: all 0.5s ease;
    padding: 20px;
  }

  .feature p{
    color: white;
    //z-index: 2;
  }
}

.feature h4{
  color: $deep-soft-blue;
}

.feature p{
  color: gray;
  font-size: 17px;
  z-index: 2;
}

.media-left img{
height: 10%;
padding-right: 10px;
z-index: 2;
}

.media-body p{
  padding-right: 15px;
  color: white;
}

.competentes p{
  font-size: 14px;
}

.menu {
  position: absolute;
  top: 10px;
  left: 20px;
}

.scroll_up {
  position: fixed;
  right: 10px;
  padding: 20px;
}

.video .glyphicon {
  top: auto;
}

.feature_pix {
  z-index: 2;
}

.notice{
  position: fixed;
  top: 0px;
  background-color: green;
  width: 100%;
  padding:30px;
  color: white;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
}

.feature_service .media-body p{
  font-size: 15px;
  color: gray;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 16px;
}

.feature_service .media-body h4{
  color: #4CA1AF;
}

.feature_service .media-left img{
  height: 25%;
}

.feature_plugin{
  padding: 70px;
}

.feature_plugin p{
  color: white;
  text-align: center;
 // padding: 0px 200px;
}

.bloc_feature{
  //padding: 30px;
  padding-top: 100px;
}
